* { font-family: 'Montserrat', sans-serif; }
.container-casestudy {
    border-radius: 4em 10px 4em 10px;
    background: #cccccc;
    padding: 1em 2em;
    width: fit-content;
    margin: 0 0 5em 20px;
}
.image-casestudy {
    width: 400px;
    border: 2px solid #ffffff;
}
hr {
    width: 100%;
    border: 1px solid #ffffff;
}